<div class="container">
    <h1>Lista de Serviços</h1>
  

    <table *ngIf="servicos.length > 0; else vazio">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Telefone</th>
          <th>Categoria</th>
          <th>Descrição</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let servico of servicos; let i = index">
          <td>{{ servico.nome }}</td>
          <td>{{ servico.telefone }}</td>
          <td>{{ servico.categoria }}</td>
          <td>{{ servico.descricao }}</td>
          <td>
            <button (click)="removerServico(i)" class="btn-remover"><i class="fa-regular fa-trash-can"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <!-- Caso a lista esteja vazia -->
    <ng-template #vazio>
      <p>Nenhum serviço cadastrado no momento. Clique no botão abaixo para adicionar.</p>
    </ng-template>
  
    <!-- Botão para voltar ao formulário -->
    <a routerLink="/formulario" class="btn-formulario"><i class="fas fa-plus-circle"></i>Cadastrar Novo Serviço</a>
  </div>
  