<div class="container">
  <h1>Cadastro de Serviço</h1>

  <form (ngSubmit)="adicionarServico()" #serviceForm="ngForm">
    <label for="nome">Nome:</label>
    <input type="text" id="id" name="nome" [(ngModel)]="novoServico.nome" required />
    <br />

    <label for="telefone">Telefone:</label>
    <input type="text" 
    id="telefone" 
    name="telefone" [(ngModel)]="novoServico.telefone" 
    required 
    pattern="[0-9]*" 
    maxlength="15" 
    title="Digite apenas números no telefone"
    />
    <br />

    <label for="categoria">Categoria:</label>
    <select id="categoria" name="categoria" [(ngModel)]="novoServico.categoria" required>
      <option value="" disabled selected>Selecione uma categoria</option>
      <option *ngFor="let categoria of categorias" [value]="categoria">{{ categoria }}</option>
    </select>
    <br />
    

    <label for="descricao">Descrição:</label>
    <input type="text" id="descricao" name="descricao" [(ngModel)]="novoServico.descricao" required />
    <br />

    <button type="submit" [disabled]="serviceForm.invalid" class="btn-add">
      <i class="fas fa-plus-circle"></i> Adicionar Serviço
    </button>
    
    
  </form>

  <a routerLink="/" class="btn-lista">Voltar para Lista de Serviços</a>

</div>